body{
	color: #666;
	text-shadow: 0 1px white;
	font-family: helvetica neue, helvetica, arial;
	font-size: 14px;
	margin:0;
}
header{
	border-bottom:1px solid #DDD;
	padding: 10px 20px 12px;
	color: #666;
	font-weight: bold;
	font-size: 16px;
}
fieldset{
	margin:12px 8px 0;
	border:none;
}
.editor-label{
	margin-bottom:10px;
}
.editor-field + .editor-label{
	margin-top:15px;
}
input[type="text"], input[type="password"]{
	outline:none;
	font-size:14px;
	height:25px;
	width:200px;
	padding:2px 5px;
	border:1px solid #AAA;
}
input[type="text"]:focus, input[type="password"]:focus{
	border:1px solid #08C;
}
#submitButton{
	background-color: rgb(43, 143, 207);
	background-image: -webkit-linear-gradient(top, rgb(50, 152, 217), rgb(33, 130, 193));
	background-repeat: repeat-x;
	border: 1px solid rgb(27, 112, 166);
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 200;
	height: 36px;
	letter-spacing: normal;
	line-height: 18px;
	margin-top: 14px;
	padding-bottom: 10px 10px 12px;
	text-align: center;
	text-shadow: rgb(13, 95, 147) 1px 1px 0px;
	width: 212px;
}

#login header.error{
	color:#e04a3f;
	background: #feeceb;
	border-bottom-color: #fcd3d0;
}
#login header.error:after{
	content: "There's been an error. Please try again, or login via fleex.tv for more info";
	display: block;
	color: #e04a3f;
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
	margin-top: 8px;
	line-height: 18px;
}

#loading { 
	display:none;
	width: 249px;
	height: 275px;
	background: url('/img/loading.gif') center no-repeat;
}

body.loading #login{ display:none; }
body.loading #loading{ display:block; }